{$SITE_ADDRESS:http://localhost} {
    encode gzip zstd
    handle_path /livekit/* {
        @signal path /rtc /rtc/*
        handle @signal {
            reverse_proxy livekit:7880
        }
        respond 404
    }
    handle {
        reverse_proxy app:8080 {
            header_up X-Real-IP {remote_host}
        }
    }
}
